@import 'breakpoints';

.eventListWrapper {
  .eventsWrapper {
    display: grid;
    grid-gap: var(--spacing-xs);
    margin-bottom: 1.5rem;

    @include respond_above(s) {
      grid-gap: var(--spacing-xl);
      margin-bottom: var(--spacing-xl);
    }
  }
  .loadMoreWrapper {
    display: flex;
    justify-content: center;
    button {
      border: 2px solid var(--color-black);
      background-color: var(--color-black-5);
    }
    button:hover {
      background-color: var(--color-black-10);
      border: 2px solid var(--color-black);
    }
    &.buttonCentered {
      text-align: center;
    }
  }
}

.default {
  .eventsWrapper {
    display: grid;
    grid-template-columns: 1fr;

    @include respond_above(s) {
      grid-template-columns: 1fr 1fr;
      grid-gap: 1.75rem 3rem;
    }

    @include respond_above(m) {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
}
