.korosWrapper {
  position: relative;
  .koros {
    z-index: 1;
    position: absolute;
    height: 20px;
    background-size: 137px 20px;
    background-repeat: repeat-x;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -1px;
    transform: rotateX(180deg);
    background-image: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKICAJIHZpZXdCb3g9IjAgMCAxNDQgMjEiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDE0NCAyMTsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgogICAgPHRpdGxlPmJhc2ljLXdhdmUta29ybzwvdGl0bGU+CiAgICA8ZyBpZD0iTGF5ZXJfMiI+CiAgICAJPGcgaWQ9IkxheWVyXzEtMiI+CiAgICAJCTxwYXRoIGQ9Ik0wLDBoMTQ0djEuOUMxMDgsMS45LDEwOCwyMSw3MiwyMVMzNiwxLjksMCwxLjlWMHoiIGZpbGw9IiNGRkZGRkYiLz4KICAgIAk8L2c+CiAgICA8L2c+CiAgPC9zdmc+');
  }
}
