@import 'fonts';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: $font-family-base;
}

.pageLayout {
  row-gap: 0 !important;
}

:root {
  --color-fog-darkened: #457ba7;
}

button {
  --background-color: var(--color-fog-darkened) !important;
  --background-color-hover: var(--color-info-dark) !important;
  --background-color-focus: var(--color-fog-darkened) !important;
  --background-color-hover-focus: var(--color-info-dark) !important;
  --border-color: var(--color-fog-darkened) !important;
  --border-color-hover: var(--color-info-dark) !important;
  --border-color-focus: var(--color-fog-darkened) !important;
  --border-color-hover-focus: var(--color-info-dark) !important;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
