.similarEvents {
  --padding-bottom: 8em;
  padding: var(--spacing-xl) 0;
  padding-bottom: var(--padding-bottom);
  background: var(--color-black-5);
  overflow: hidden;
}

.korosTopCollections {
  fill: var(--color-white) !important;
}
