@import 'breakpoints';

.searchResultListContainer {
  background-color: var(--color-black-5);
  padding-bottom: var(--spacing-layout-2-xl) !important;
  position: inherit;
  .korosBottom {
    fill: var(--color-engel-medium-light) !important;
  }
}

.betaResultNotification {
  line-height: 1.8rem;
}

.count {
  font-size: var(--fontsize-body-l);
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @include respond_above(s) {
    text-align: left;
  }

  @include respond_above(m) {
    margin-top: 0;
    margin-bottom: 2rem;
  }
}

.searchResultWrapper {
  display: grid;
  grid-row-gap: var(--spacing-xs);
  max-width: 1120px;
  margin: auto;

  .eventListWrapper {
    .loadMoreWrapper {
      margin-top: 1.5rem;

      @include respond_above(s) {
        margin-top: 0;
      }
    }
  }
}
