@use 'breakpoints';
@use 'utils';
@import 'variables';

$mainBackground: var(--color-fog-medium-light);

.layout {
  position: relative;

  .main {
    overflow: hidden;
    .sectionHero {
      min-height: 60vh;
    }

    .highhighlight {
      position: relative;
    }

    .sectionSearch {
      background-color: $mainBackground;
      .sectionSearchContent {
        top: -5.5em;
        position: relative;
        height: calc(100% - 5.5rem);
      }
    }

    .sectionCollections {
      top: -4.5rem;
    }

    .korosBottomHero {
      fill: $mainBackground !important;
    }
  }
}

.korosTopCollections {
  fill: var(--color-fog-medium-light) !important;
}
