@use 'breakpoints';
@use 'utils';
@import 'variables';

$mainBackground: var(--color-fog-medium-light);

.layout {
  position: relative;

  .sectionHero {
    min-height: 60vh;
  }

  .sectionSearch {
    background-color: $mainBackground;

    .sectionSearchContent {
      position: relative;
      top: -5.5rem;
    }
  }

  .sectionCollections {
    padding-bottom: 5.5rem;
  }

  .korosBottomHero {
    fill: $mainBackground !important;
  }

  .korosBottomSearch {
    fill: var(--color-white) !important;
  }
}
