@use 'breakpoints';
@use 'utils';
@import 'variables';

$mainBackground: var(--color-fog-medium-light);

.layout {
  position: relative;

  .main {
    overflow: hidden;
    .sectionHero {
      min-height: 50vh;
    }

    .highhighlight {
      position: relative;
    }

    .sectionSearch {
      .sectionSearchContent {
        //top: -5.5em;
        position: relative;
      }
    }

    .sectionCollectionsFirst {
      background-color: $mainBackground;
    }

    .sectionCollectionsLast {
      background-color: var(--color-black-5);
      padding-bottom: 120px;
    }

    .korosBottomHero {
      fill: var(--color-white) !important;
    }
  }
}

.korosTopCollectionsFirst,
.korosBottomCollectionsFirst,
.korosTopCollectionsLast,
.korosBottomCollectionsLast {
  fill: var(--color-white) !important;
}

.korosBottomCollectionsLast {
  bottom: -60px !important;
}

.korosTopCollectionsRest {
  fill: $mainBackground !important;
}
